body {
    text-align: center;
    display: flex;
  
}

.wrapper {

}

.container{

    display: grid;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
} 

.grid {
    /* height: 1fr;
    width: 1fr; */
    display: flex;
}

