html, body {
  /* height: 100%;
  width: 100%; */
}

body {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: rgba(245, 245, 245, 0.767);

}

h1 {
  position: absolute;
  padding-bottom: 600px;
}

.wrapper {

}

.left-menu {
  display: grid;
  height: 410px;
  width: 150px;
  background-color: rgba(84, 149, 223, 0.356);
  justify-content: center;
  border: 2px grey solid;
  border-radius: 3px;
  /* padding-left: 30px;
  padding-right: 30px; */
}

strong {
  border: 1px grey solid;
  padding: 5px;
}

.canv {
padding-top: 64px;
}

#myCanvas {
border: 2px solid black;
}

.erase, #rainbow, .reset-grid {
  cursor: pointer;
  transition: all 0.3s;
border: .1px solid rgba(206, 204, 204, 0.699);
border-radius: 2px;
}

.erase{
  justify-self: center;
  align-self: center;
}

.reset-grid {
  justify-self: center;
  align-self: center;
}

#rainbow {
  justify-self: center;
  align-self: center;
}

#rainbow:hover {
  background: rgba(157, 184, 180, 0.233);
  border: solid .4px grey;
  border-radius: 7px;
  }

.erase:hover {
background: rgba(157, 184, 180, 0.233);
border: solid .4px grey;
border-radius: 7px;
}

.reset-grid:hover {
  background: rgba(157, 184, 180, 0.233);
border: solid .4px grey;
border-radius: 7px;
}



.color-selection {
display: grid;
padding-top: 15px;
justify-content: space-around;
width: 222px;
height: 744px;
background-color: rgba(30, 143, 255, 0.301);
border: solid 1px black;
border-radius: 6px;
}

.color-selection:hover {
background-color: rgba(30, 116, 255, 0.26);
}

.white, .black, .yellow, .brown, .purple, .grey, .violet, .pink, .red, .dodgerblue, .orange, .green, .cyan, .silver, .lightseagreen, .olive, .coral, .chocolate, .palevioletred, .plum, .cornflowerblue, .turquoise, .orangered, .burlywood {
height: 27px;
width: 40px;
background-color: rgba(57, 179, 10, 0.109);
border-radius: 3px;
}

.color-selection > div {
  cursor: pointer;
}

.black {
background-color: black;
transition: all 0.3s;
border: .3px solid grey;
}

.black:hover {
transform: scale(0.1px);
background: rgba(0, 0, 0, 0.623);
border: .6px dashed grey;
}

.white {
background-color: white;
transition: all 0.3s;
border: .3px solid grey;

}

.white:hover {
transform: scale(0.1px);
background: rgba(255, 255, 255, 0.527);
border: .6px dashed grey;
}

.yellow {
background-color: yellow;
transition: all 0.3s;
border: .3px solid grey;
}

.yellow:hover {
transform: scale(0.1px);
background: rgba(255, 255, 0, 0.52);
border: .6px dashed grey;
}

.brown {
background-color: brown;
transition: all 0.3s;
border: .3px solid grey;
}

.brown:hover {
transform: scale(0.1px);
background-color: rgba(165, 42, 42, 0.637);
border: .6px dashed grey;
}

.purple {
background-color: purple;
transition: all 0.3s;
border: .3px solid grey;
}

.purple:hover {
transform: scale(0.1px);
background-color: rgba(128, 0, 128, 0.609);
border: .6px dashed grey;
}

.grey {
background-color: grey;
transition: all 0.3s;
border: .3px solid grey;
}

.grey:hover {
transform: scale(0.1px);
background-color: rgba(128, 128, 128, 0.575);
border: .6px dashed grey;
}

.violet {
background-color: violet;
transition: all 0.3s;
border: .3px solid grey;
}

.violet:hover {
transform: scale(0.1px);
background-color: rgba(238, 130, 238, 0.589);
border: .6px dashed grey;
}

.pink {
background-color: pink;
transition: all 0.3s;
border: .3px solid grey;
}

.pink:hover {
transform: scale(0.1px);
background-color: rgba(255, 192, 203, 0.616);
border: .6px dashed grey;
}

.red {
background-color: red;
transition: all 0.3s;
border: .3px solid grey;
}

.red:hover {
transform: scale(0.1px);
background-color: rgba(255, 0, 0, 0.568);
border: .6px dashed grey;
}

.dodgerblue {
background-color: dodgerblue;
transition: all 0.3s;
border: .3px solid grey;
}

.dodgerblue:hover {
transform: scale(0.1px);
background-color: rgba(30, 143, 255, 0.548);
border: .6px dashed grey;
}

.orange {
background-color: orange;
transition: all 0.3s;
border: .3px solid grey;
}

.orange:hover {
transform: scale(0.1px);
background-color: rgba(255, 166, 0, 0.63);
border: .6px dashed grey;
}

.green {
background-color: green;
transition: all 0.3s;
border: .3px solid grey;
}

.green:hover {
transform: scale(0.1px);
background-color: rgba(0, 128, 0, 0.609);
border: .6px dashed grey;
}

.cyan {
background-color: cyan;
transition: all 0.3s;
border: .3px solid black;
}

.cyan:hover {
transform: scale(0.1px);
background-color: rgba(0, 255, 255, 0.424);
border: .6px dashed grey;
}

.silver {
background-color: silver;
transition: all 0.3s;
border: .3px solid grey;
}

.silver:hover {
transform: scale(0.1px);
background-color: rgba(192, 192, 192, 0.657);
border: .6px dashed grey
}

.lightseagreen {
background-color: lightseagreen;
transition: all 0.3s;
border: .3px solid grey;
}

.lightseagreen:hover {
transform: scale(0.1px);
background-color: rgba(32, 178, 171, 0.596);
border: .6px dashed grey;
}

.olive {
  background-color: olive;
transition: all 0.3s;
border: .3px solid grey;
} 

.olive:hover {
    transform: scale(0.1px);
    background-color: rgba(128, 128, 0, 0.527);
    border: .6px dashed grey;
}
.coral {
  background-color: coral;
  transition: all 0.3s;
border: .3px solid grey;

} 

.coral:hover {
  transform: scale(0.1px);
  background-color: rgba(255, 127, 80, 0.596);
  border: .6px dashed grey;
}

.chocolate {
  background-color: chocolate;
  transition: all 0.3s;
border: .3px solid grey;
} 

.chocolate:hover {
  transform: scale(0.1px);
  background-color: rgba(210, 105, 30, 0.527);
  border: .6px dashed grey;
}
.palevioletred {
  background-color: palevioletred;
  transition: all 0.3s;
border: .3px solid grey;
} 

.palevioletred:hover {
  transform: scale(0.1px);
  background-color: rgba(216, 112, 147, 0.575);
  border: .6px dashed grey;
}
.plum {
  background-color: plum;
  transition: all 0.3s;
border: .3px solid grey;
}

.plum:hover {
  transform: scale(0.1px);
  background-color: rgba(221, 160, 221, 0.582);
  border: .6px dashed grey;
}

.cornflowerblue {
  background-color: cornflowerblue;
  transition: all 0.3s;
border: .3px solid grey;
}

.cornflowerblue:hover {
  transform: scale(0.1px);
  background-color: rgba(100, 148, 237, 0.575);
  border: .6px dashed grey;
}

.turquoise {
  background-color: turquoise;
  transition: all 0.3s;
border: .3px solid grey;
}

.turquoise:hover {
  transform: scale(0.1px);
  background-color: rgba(64, 224, 208, 0.603);
  border: .6px dashed grey;
}

.orangered {
  background-color: orangered;
  transition: all 0.3s;
border: .3px solid grey;
}

.orangered:hover {
  transform: scale(0.1px);
  background-color: rgba(255, 68, 0, 0.52);
  border: .6px dashed grey;
}

.burlywood {
  background-color: burlywood;
  transition: all 0.3s;
border: .3px solid grey;
   }

   .burlywood:hover {
    transform: scale(0.1px);
    background-color: rgba(222, 184, 135, 0.562);
    border: .6px dashed grey;
  }

.container{
  display: grid;
  justify-content: center;
  /* margin: 0 auto; */
  text-align: center;
  border: 4px solid grey;
  border-radius: 4px;
  place-items: center;
  
} 

.grid {
  display: flex;
}

.check input {
  cursor: pointer; 

}

.check {
  align-self: center;
}

#checkbox {
  /* top: 0;
  left: 0; */
  height: 27px;
  width: 27px;
  background-color: rgb(116, 133, 139);    
}
.check {
  display: inline-block;
  height: 60px;
  width: 99px;
  border: solid rgb(110, 131, 138) 2px;
}

