body {
    text-align: center;
    display: flex;
  
}

.wrapper {

}

.container{

    display: grid;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
} 

.grid {
    /* height: 1fr;
    width: 1fr; */
    display: flex;
}

.check input {
    cursor: pointer; 

  }

#checkbox {
    /* top: 0;
    left: 0; */
    height: 27px;
    width: 27px;
    background-color: rgb(74, 158, 189);    
  }
  .check {
    display: inline-block;
    height: 60px;
    width: 99px;
    border: solid rgb(16, 189, 241) 2px;
  }
  
